* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a:link {
    text-decoration: none;
}

h1, h2, h3 {
    background-color: aquamarine;
    color: floralwhite;
}

.recipe-list {
    color: red;
    list-style: none;
    padding: 5px;
}

p, ol, ul {
    padding: 5px;
    list-style: none;
}